* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted rgb(0, 0, 0); */
    font-family: Arial, sans-serif;
    color: #fff;
}

body {
    background-color: azure;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

p {
    line-height: 1.5;
    padding-top: 10px;
}

.home-top {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: cadetblue;
    align-items: center;
    justify-content: space-evenly;
}

.home-top header,
.home-top nav {
    padding-top: 20px;
}

/* Animated Button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* for scrolling to fade in */
.section {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.section.fade-in {
    opacity: 1;
}

.list {
    display: inline-block;
}

.list li {
    padding: 5px;
    text-align: left;
}

.page {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-content: center;
}

.content-box {
    padding: 15px;
}


/* PAGE 1 */
#page1-box1 {
    display: flex;
    flex-direction: row;
}
#page1-box1-part1 {
    background-color: rgb(8, 95, 95);
    flex-basis: 30%;

}
#page1-box1-part2 {
    margin: auto;
    background-color: rgb(18, 21, 184);
    flex-basis: 70%;
}

#page1-box2 {
    display: flex;
    background-color: pink;
}
#page1-box2-part1 {
    flex-basis: 50%;
}
#page1-box2-part2 {
    margin: auto;
    flex-basis: 50%;
}


/* PAGE 2 */
#page2-box1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(8, 95, 95);
}

#page2-box2 {
    display: flex;
    background-color: pink;
}
#page2-box2-part1 {
    text-align: left;
    flex-basis: 40%;
}
#page2-box2-part2 {
    margin: auto;
    flex-basis: 60%;
}

#page2-box3 {
    display: flex;
    background-color: rgb(158, 33, 54);
}
#page2-box3-part1 {
    text-align: left;
    flex-basis: 40%;
}
#page2-box3-part2 {
    margin: auto;
    flex-basis: 60%;
}

#page2-box4 {
    display: flex;
    background-color: rgb(102, 39, 49);
}
#page2-box4-part1 {
    text-align: left;
    flex-basis: 40%;
}
#page2-box4-part2 {
    margin: auto;
    flex-basis: 60%;
}

#page2-box5 {
    display: flex;
    background-color: rgb(138, 35, 115);
}
#page2-box5-part1 {
    text-align: left;
    flex-basis: 40%;
}
#page2-box5-part2 {
    margin: auto;
    flex-basis: 60%;
}

#page2-box6 {
    display: flex;
    background-color: rgb(64, 16, 78);
}
#page2-box6-part1 {
    text-align: left;
    flex-basis: 40%;
}
#page2-box6-part2 {
    margin: auto;
    flex-basis: 60%;
}

#page2-box7 {
    display: flex;
    background-color: rgb(176, 40, 230);
}
#page2-box7-part1 {
    text-align: left;
    flex-basis: 40%;
}
#page2-box7-part2 {
    margin: auto;
    flex-basis: 60%;
}


/* PAGE 3 */
#page3-box1 {
    background-color: rgb(8, 95, 95);
    display: flex;
    flex-direction: column;
}

#page3-box2 {
    background-color: pink;
    display: flex;
}
#page3-box2-part1 {
    text-align: left;
    flex-basis: 40%;
}
#page3-box2-part2 {
    margin: auto;
    flex-basis: 60%;
}

#page3-box3 {
    background-color: pink;
    display: flex;
}
#page3-box3-part1 {
    text-align: left;
    flex-basis: 40%;
}
#page3-box3-part2 {
    margin: auto;
    flex-basis: 60%;
}

#page3-box4 {
    background-color: pink;
    display: flex;
}
#page3-box4-part1 {
    text-align: left;
    flex-basis: 40%;
}
#page3-box4-part2 {
    margin: auto;
    flex-basis: 60%;
}

#page3-box5 {
    background-color: pink;
    display: flex;
}
#page3-box5-part1 {
    text-align: left;
    flex-basis: 40%;
}
#page3-box5-part2 {
    margin: auto;
    flex-basis: 60%;
}

#page3-box6 {
    background-color: pink;
    display: flex;
}
#page3-box6-part1 {
    text-align: left;
    flex-basis: 40%;
}
#page3-box6-part2 {
    margin: auto;
    flex-basis: 60%;
}


/*for responsive menu*/
#hamIcon {
    display: none;
}

.menuShow {
    display: block;
}

@media screen and (max-width:800px) {
    nav ul li {
        display: block;
    }

    /*make a menu items vertical*/
    #hamIcon {
        display: block;
    }

    /* unhide menu icon */
    nav ul {
        display: none;
    }

    /*hide the menu item list*/
}